/* table-n belüli td */
/* table td {
    border: 1px solid darkblue;
} */

/* table és td */
table, td, th {
    border: 1px solid darkblue;
    border-collapse: collapse;
}

th {
    background-color: #222;
    color: #CCC;
}

td, th {
    padding: 10px;
}

div p {
    background-color: aquamarine;
}

.közép {
    text-align: center;
}

table {
    width: 100%;
}

hr {
    margin: 20px 0;
    border: 5px solid black;
}